* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --LightBlue: #90C5C8;
    --SkyBlue: #77D1D6;
    --LightCyan: #DCF1F2;
    --SeaGreen: #2D6F73;
    --DarkTurquoise: #08CDD6;
    --DarkSlateGray: #033133;
}

header {
    width: 100vw;
    background-color: var(--SeaGreen);
}