footer {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 1rem;

  background-color: var(--SeaGreen);
}
.img-contact-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;

  & .logo {
    height: 3.5rem;
  }
}
.localizacao-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: large;
  color: var(--LightCyan);
}
.a {
  height: 6rem;
  width: 1.5px;
  background-color: rgba(255, 255, 255, 0.377);
  margin: 0 1.25rem;
}
.links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;

  & img {
    border-radius: 12px;
  }
}
.valores {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 1.4rem;

  & div {
    display: flex;
    align-items: center;

    color: var(--LightCyan);

    gap: 1rem;
    margin-top: 1rem;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
}
.cop_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--LightCyan);
}
