footer {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 1rem;

  background-color: var(--SeaGreen);
}
.img-contact-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;

  & .logo {
    width: 18rem;
  }
}
.localizacao-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: large;
  color: var(--LightCyan);
}
.a {
  height: 6rem;
  width: 1.5px;
  background-color: rgba(255, 255, 255, 0.377);
  margin: 0 1.25rem;
}
.links {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;

  & img {
    border-radius: 12px;
  }
}
.valores {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 1.4rem;

  & div {
    display: flex;
    align-items: center;

    color: var(--LightCyan);

    gap: 1rem;
    margin-top: 1rem;
  }
}

.a_icon {
   display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--LightCyan);
  border-radius: 10px;
}

.icon {
 

  width: 2.5rem;
  height: 2.5rem;


}
.cop_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--LightCyan);
}

@media screen and (max-width: 1024px) {
  .img-contact-footer {
    
    & .logo {
      width: 10rem;
    }
  }

  .localizacao-footer {
    font-size: 1rem;
  }

  .valores {
    font-size: 1rem;
  }
}