.page-header--scrolled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  width: 80vw;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #2d70738e;

  border-radius: 48px;
  transition: all 0.2s ease;
  backdrop-filter: blur(30px);

  box-shadow: -10px -10px 20px -5px rgba(0, 0, 0, 0.2) inset,
    10px 10px 20px -5px rgba(255, 255, 255, 0.2) inset;
}

.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  width: 100vw;
  background-color: var(--SeaGreen);
}

.imagem-logo {
  width: 200px;
}

.page-header__nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.page-header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  font-weight: normal;
  text-decoration: none;
  color: white;
  font-size: 100%;
}

#btnLogin {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--LightCyan);
  border-radius: 12px;

  width: 3rem;
  height: 3rem;
}
