header {
  width: 100vw;
  background-color: var(--SeaGreen);
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.page-header__nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  font-weight: normal;
  text-decoration: none;
  color: white;
  font-size: 100%;
  margin: 0 35px;
  padding: 0 8px;
}

#btnLogin {
  background-color: var(--LightCyan);
  margin: 0 35px;
  padding: 16px;
  border-radius: 8px;
}
