main {
    width: 100%;
}

.service_title {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 6rem;


    & img {
        width: 3rem;
        height: 3rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: center;

    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: 6rem;
    margin-bottom: 6rem;

    background-image: url("../image/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;


    & h1 {
        font-size: 200%;
        font-weight: 600;
        color: var(--DarkGray);
        margin-bottom: 1rem;
    }

    & p {
        font-size: 150%;
        color: var(--SeaGreen);
        text-align: justify;
        
        width: 30%;

    }
}

.exam_result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: center;

    padding-right: 6rem;
    padding-left: 6rem;
    margin-top: 6rem;
    margin-bottom: 6rem;

    & h1 {
        font-size: 200%;
        font-weight: 600;
        color: var(--DarkGray);
        

    }

    & p {
        font-size: 150%;
        color: var(--SeaGreen);
        text-align: justify;

    }

    & a {
        font-size: 150%;
        color: var(--White);
        text-align: center;

        background-color: var(--SeaGreen);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        text-decoration: none;
    }
}