main {
  margin-left: 6rem;
  margin-right: 6rem;
}

.SobreNos {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  gap: 2rem;


  & p {
    font-size: 32px;
    font-weight: 400;

  }
  & .icone {
    width: 40px;
    height: 40px;

  }
}

.divConteudo {
  
  display: flex;
  justify-content: center;
  gap: 6rem;


  margin-bottom: 3rem;
  margin-top: 3rem;
  
}
.Missao_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.H2M {
  font-size: 2rem;
  font-weight: 300;

  display: flex;

  align-items: center;
  justify-content: center;

}

.textM {
  font-size: 1.5rem;
  text-align: justify;

  color: var(--SeaGreen);
}

.Valores_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.H2V {
  font-size: 2rem;
  font-weight: 300;

  display: flex;
  
  align-items: center;
  justify-content: center;
}

.textV {
  font-size: 1.5rem;
  text-align: justify;

  color: var(--SeaGreen);
}

.banner{
    
    margin-top: 3rem;
    margin-bottom: 3rem;

    & img {
        width: 100%;
        height: auto;

        border-radius: 2rem;
    }
}


@media (max-width: 1025px) {
  main {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .divConteudo {
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .SobreNos{
    gap: 1rem;

    & .icone {
      width: 30px;
      height: 30px;
    }

    & p {
      font-size: 1.5rem;
    }
  }

  .divConteudo {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 426px) {
  .Missao_container{

    & h2 {
      font-size: 1.5rem;
    }

    & p {
      font-size: 1rem;
    }
  }

  .Valores_container{

    & h2 {
      font-size: 1.5rem;
    }

    & p {
      font-size: 1rem;
    }
  }

}
