main {
  width: 100%;
  margin-top: 3rem;
  margin-left: 8rem;
}

.SobreNos {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  gap: 1%;

  & p {
    font-size: 32px;
    font-weight: 400;
  }
  & .icone {
    width: 40px;
    height: 40px;
  }
}

.Missao {
  max-width: 85%;
}

.H2M {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 2%;
}

.textM {
  font-size: 1.5rem;
  text-align: justify;
  color: var(--SeaGreen);
  margin-bottom: 8%;
}

.valores {
  display: flex;
  justify-content: space-around;
  background-color: var(--LightCyan);
  width: 90%;
  border: 1.4rem solid var(--LightCyan);
  border-radius: 1rem;
}

.H2V {
  font-size: 40px;
  font-weight: 300;
  padding-bottom: 3%;
}

.textV {
  font-size: 1.4rem;
  text-align: justify;

  color: var(--SeaGreen);
  margin-right: 10%;
}

.image {
  border-radius: 10%;
  width: 300%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin-right: 3%;
}

@media (max-width: 1025px) {
  main {
    width: 100%;
    margin-top: 3rem;
    margin-left: 3.5rem;
  }
}
@media (max-width: 768px) {
  .SobreNos {
    margin-left: 2%;
  }
  .container {
    width: 85%;
    margin-bottom: 10%;
    flex-direction: column;
  }
  .valores {
    padding: 3% 6% 3% 6%;
    flex-direction: column;
  }
  .valoresT {
    margin-bottom: 20px;
  }
  .image {
    width: 100%;
  }
  .H2M,
  .H2V {
    font-size: 22px;
  }
  .textM,
  .textV {
    font-size: 24px;
    margin-right: 0;
  }
  .Missao {
    padding-left: 0.2rem;
    padding-right: 4.5rem;
  }
}
@media (max-width: 426px) {
  main {
    width: 100%;
    margin-top: 3rem;
    margin-left: 1.7rem;
  }
  .SobreNos {
    margin-left: 2%;
    gap: 6%;
  }
  .container {
    width: 95%;
    margin-bottom: 10%;
    flex-direction: column;
  }
  .valoresT {
    margin-bottom: 20px;
  }
  .image {
    width: 100%;
  }
  .H2M,
  .H2V {
    font-size: 24px;
  }
  .textM,
  .textV {
    width: 100%;
    font-size: 18px;
  }
  .Missao {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
