main {
  width: 100%;
  margin-top: 3rem;


}

.SobreNos {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  gap: 1%;
    margin-left: 8rem;
  & p {
    font-size: 32px;
    font-weight: 400;

  }
  & .icone {
    width: 40px;
    height: 40px;

  }
}

.divConteudo {
  
  display: flex;
  justify-content: space-between;
    margin-left: 8rem;
}
.Missao_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.H2M {
  font-size: 2rem;
  font-weight: 300;

  display: flex;

  align-items: center;
  justify-content: center;

}

.textM {
  font-size: 1.5rem;
  text-align: justify;

  color: var(--SeaGreen);
}

.Valores_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    margin-bottom: 8%;

}

.H2V {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
  justify-content: center;
}

.textV {
  font-size: 1.5rem;
  text-align: justify;

  color: var(--SeaGreen);
}

.banner {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  background-image: url("../image/banner.png");
  background-size: cover;
  background-position: right;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

/* DEGRADÊ À ESQUERDA */
.banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(to right, #dff1e7 0%, rgba(255,255,255,0) 100%);
  z-index: 1;
}

/* TEXTO */
.banner-text {
  width: 50%;
  padding: 3rem;
  z-index: 2;
  color: #0c3c36;
}


@media (max-width: 1025px) {
  main {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .divConteudo {
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .SobreNos{
    gap: 1rem;

    & .icone {
      width: 30px;
      height: 30px;
    }

    & p {
      font-size: 1.5rem;
    }
  }

  .divConteudo {
    flex-direction: column;
  }
  .valoresT {
    margin-bottom: 20px;
  }
  .H2M,
  .H2V {
    font-size: 22px;
  }
  .textM,
  .textV {
    font-size: 24px;
    margin-right: 0;
  }
  .Missao {
    padding-left: 0.2rem;
    padding-right: 4.5rem;
  }
    .image {
      max-width: 100%;
      width: 100%;
      margin: 16px 0 0 0;
      display: block;
      box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    }
}
@media (max-width: 426px) {
  .Missao_container{

    & h2 {
      font-size: 1.5rem;
    }

    & p {
      font-size: 1rem;
    }
  }

  .Valores_container{

    & h2 {
      font-size: 1.5rem;
    }

    & p {
      font-size: 1rem;
    }
  }

}
